<!-- ===== Footer Start ===== -->
<footer class="py-5">
  <div class="container">
    <div class="row">
      <!-- Sección 1: Descripción de la Empresa -->
      <div class="col-md-3 footer-item">
        <h4>Finance Alfa Lobo</h4>
        <p>Tu plataforma confiable para la gestión de transacciones y finanzas seguras. Ofrecemos soluciones para administrar tus finanzas de forma fácil y segura.</p>
        <ul class="social-icons">
          <li><a rel="nofollow" href="https://facebook.com/FinanceAlfaLobo" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/FinanceAlfaLobo" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://linkedin.com/company/FinanceAlfaLobo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://behance.net/FinanceAlfaLobo" target="_blank"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <!-- Sección 2: Enlaces Útiles -->
      <div class="col-md-3 footer-item">
        <h4>Enlaces Útiles</h4>
        <ul class="menu-list">
          <li><a href="#">Consulta de Transacciones</a></li>
          <li><a href="#">Gestión de Finanzas</a></li>
          <li><a href="#">Asistencia y Soporte</a></li>
          <li><a href="#">Guía de Seguridad</a></li>
          <li><a href="#">Términos y Condiciones</a></li>
        </ul>
      </div>

      <!-- Sección 3: Páginas Adicionales -->
      <div class="col-md-3 footer-item">
        <h4>Páginas Adicionales</h4>
        <ul class="menu-list">
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Cómo Funciona</a></li>
          <li><a href="#">Soporte Rápido</a></li>
          <li><a href="#">Contáctanos</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <!-- Sección 4: Formulario de Contacto -->
      <div class="col-md-3 footer-item last-item">
        <h4>Contáctanos</h4>
        <div class="contact-form">
          <form id="contact-footer" action="" method="post">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Nombre Completo" required="">
                </fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="Dirección de Correo" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu Mensaje" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="btn btn-primary">Enviar Mensaje</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ===== Footer End ===== -->

<!-- Sub-footer -->
<div class="sub-footer bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2024 Finance Alfa Lobo Co., Ltd.<br>
        </p>
      </div>
    </div>
  </div>
</div>
